body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navlink {
  text-decoration: none;
}

html {
  background-color: #3c308c;
}

#root {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
}

p {
  font-family: "Itim", cursive;
}

i {
  padding: 5px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.message-section {
  border: 3px solid chartreuse;
  width: 100%;
}

.member-list {
  border: 3px solid hotpink;
  width: 300px;
}

.row-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
