body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navlink {
  text-decoration: none;
}

html {
  background-color: #2d2d2d;
  /* background-color: #3c308c; */
}

#root {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  margin: 0 !important;
}

i {
  padding: 5px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.message-section {
  width: 100%;
  height: 100vh;
  overflow-y: no-scroll;
  overflow-x: no-scroll;
}

.logged-out-landing {
  width: 0px;
}

.row-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.left-right-columns {
  width: 300px;
  align-self: flex-end;
}

.channel-message-display {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.filler{
  width: 100%;
}
