:root {
  --clr-neon: #ff14bd;
  --clr-bg: hsl(323 21% 16%);
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #modal-content {
    width: 460px;
    position: absolute;
  }

  #modal-content form{
    display: flex;
    flex-direction: column;
  }

  #modal-content form input{
    margin-left: 60px;
    margin-bottom: 25px;
    height: 40px;
    width: 200px;
    color: #15f4ee;
    font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
    background-color: rgb(39, 37, 37);
    border-radius: 0.5em;
  }

  .create-form-wrapper{
    font-family: Pacifico;
    font-size: 1.4em;
    background-color: #2d2d2dd3;
    border: 1px solid rgb(39, 37, 37);
    border-radius: 1.5em;
    padding: 25px;

  }
