:root {
  --clr-neon: #ff14bd;
  --clr-bg: hsl(323 21% 16%);
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #modal-content {
    width: 460px;
    background-color: #2d2d2dd3;
    position: absolute;
    border-radius: 1.5em;
    padding: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  }

  #modal-content form{
    display: flex;
    flex-direction: column;
  }

  #modal-content form input{
    margin-left: 60px;
    margin-bottom: 25px;
    height: 40px;
    width: 200px;
    background-color: rgb(39, 37, 37);
    color: #15f4ee;
    font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
    border: 1px solid rgb(39, 37, 37);
    border-radius: 0.5em;
  }

  .create-server-form label{
    font-family: Pacifico;
    font-size: 1.4em;
    /* color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 60% / 0.5), 0 0 0.5em var(--clr-neon); */
  }
