.server-form {
  border: var(--clr-neon) 0.35em solid;
  box-shadow: inset 0 0 1.1em 0 var(--clr-neon), 0 0 2.3em 0 var(--clr-neon);
  background-color: #2d2d2d;
  position: relative;
  z-index: 1000;
}

.create-server-form {
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 60% / 0.5), 0 0 0.5em var(--clr-neon);
}

.button-create-server {
  border: 0.2em solid var(--clr-neon);
  border-radius: 1.2em;
  cursor: pointer;
  transition: 1.5s;
  /* letter-spacing: 2px; */
  font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
  color: var(--clr-neon);
  font-weight: 900;
  /* float: right; */
  /* margin-top: 40px;
  font-size: 20px; */

  /* height: 50px;
  width: 100px; */

  box-shadow: inset 0 0 1em 0 var(--clr-neon), 0 0 8em 0 var(--clr-neon);
  }

.create-server-button-in-modal {
  border-radius: 4.4em;
  border: var(--clr-neon) solid 2.5px;
  color: var(--clr-neon);
  background-color: #2d2d2d;
  font-weight: 800;
  box-shadow: inset 0 0 0.8em 0 var(--clr-neon), 0 0 0.8em 0 var(--clr-neon);
  width: 40px;
  height: 40px;
  /* text-align: center; */
  margin-top: 5px;
  margin-left: 5px;
  /* float: center; */
}
