.navbar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-end;
    background-color: rgba(61, 61, 61, 0.589);
}

.navbar > * {
    margin: 5px;
    color: white
}
