.flex-row {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: #292929;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.server-list {
  background-color: #292929;
  padding: 5px;
  width: 60px;

  /* height: 100%; */
}

.channels-chats {
  width: 200px;
  margin-top: 10px;
}

.flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}
.navbar {
  /* display: flex; */
  flex-direction: column;
  list-style-type: none;
  /* height: 100%; */
  background-color: #323232;
  border-right: #292929 solid 10px;
  height: 100vh;
}

.navbar > * {
  margin-left: 5px;
  color: white;
}

.session-user-info {
  width: 100%;
  /* height: 85px; */
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.user-pic-nav,
.disco-pic-nav,
.server-pic-nav {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.server-pic-nav:hover {
  box-shadow: inset 0 0 .5em 0 var(--clr-neon), 0 0 .5em 0 var(--clr-neon);
}
.disco-pic-nav:hover {
  box-shadow: inset 0 0 .5em 0 #15f4ee, 0 0 .5em 0 #15f4ee;
}

.username-nav {
  font-size: 22px;
  margin-left: 8px;
}

.logout-button {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Itim", cursive;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: red;
  border: none;
  width: 82%;
  border-radius: 6px;
}

.chat-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.chat-nav:hover {
  background-color: #50505033;
}

.chat-nav-members,
.channel-nav {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat-nav-username,
.chat-nav-label,
.channel-nav {
  font-size: 20px;
}

.chat-nav-username {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}

.chat-nav-label {
  margin: 0;
}

.chat-nav-member {
  margin: 0;
}

.chat-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.chat-nav-members {
  margin: 0;
}

.server-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 22px;
}

.home {
  cursor: pointer;
}

.channel-nav {
  width: 200px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  font-family: "Itim", cursive;
}

.fa-chevron-down,
.fa-plus {
  font-size: 16px;
  font-weight: 800;
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 60% / 0.5), 0 0 0.5em var(--clr-neon);
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.width-90 {
  width: 90%;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-chat {
  background-color: #50505033;
}

.delete-chat-button {
  margin-right: 20px;
}

.delete-chat-button-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.create-chat-dropdown {
  position: absolute;
  left: 290px;
  top: 20px;
  background-color: #3c308c;
  border: 5px solid #7d40bf;
  border-radius: 5px;
  width: 250px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.create-chat-option {
  min-width: 100px;
}

.create-chat-checkbox {
  margin-right: 5px;
}

.create-chat-submit {
  align-self: center;
  background-color: #7d40bf;
  font-family: "Itim", cursive;
  font-size: 18px;
  border: none;
  color: white;
  width: 140px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.create-chat-submit:hover {
  border: 1px solid white;
}

.create-chat-submit:disabled {
  background-color: gray;
  border: none !important;
  color: rgb(219, 9, 9);
}

#display-server-name {
  display: none;
}

#display-server-name:hover {
  display: block;
  color: white;
}
