.navbar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-end;
    height: 100%;
    background-color: #417CF2;
}

.navbar > * {
    margin: 5px;
    color: white
}

.session-user-info{
    border: grey;
    display: flex;
    align-items: center;
}
