.logout-button {
    border: 0.2em solid var(--clr-neon);
    border-radius: 1.2em;
    cursor: pointer;
    transition: 1.5s;
    letter-spacing: 2px;
    font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
    color: var(--clr-neon);
    font-weight: 900;
    float: right;
    margin-top: 40px;
    font-size: 20px;

    height: 50px;
    width: 140px;

    box-shadow: inset 0 0 1em 0 var(--clr-neon), 0 0 8em 0 var(--clr-neon);
}
