.sign-up-form-container {
  color: #15f4ee;
  margin: 0;
  text-shadow:
    0 0 0.125em hsl(0 0% 60% / 0.5),
    0 0 0.5em #15f4ee;
  min-width: 20em;
  padding: 2em;
}

#sign-up-title {
    text-align: center;
    font-size: 3rem;
    font-family: "Pacifico", cursive;
    margin-top: -5px;
    color:#15f4ee
  }

.sign-up-errors {
    color: #15f4ee;
    font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
}

#sign-up-inputs {
    float: right;
    height: 40px;
    width: 175px;
    background-color: rgb(39, 37, 37);
    color: #15f4ee;
    font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
    border: 1px solid rgb(39, 37, 37);
    border-radius: .5em;
    margin-top: 15px;
}

.sign-up-button {
    border:  0.2em solid #15f4ee;
    border-radius: 1.2em;
    cursor: pointer;
    transition: 1.5s;
    letter-spacing: 2px;
    font-family: Whitney, "Helvetica Neue", Arial, sans-serif;
    color:#15f4ee;
    font-weight: 900;
    float: right;
    margin-top: 40px;
    font-size: 25px;
    height: 65px;
    width: 165px;
    box-shadow:
      inset 0 0 1em 0 #15f4ee,
            0 0 8em 0 #15f4ee;
}

.sign-up-file-upload{
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5em;
  border-radius: 1em;
  width: 15em;
  height: 15em;
  border: #15f4ee dashed .22em;
}

.sign-up-file-upload-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .6em;
}

.sign-up-file-upload-text p{
  margin: 0;
}

.sign-up-file-extensions{
  font-size: .4em;
}

.sign-up-carousel{
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #15f4ee;
  overflow: hidden;
  padding: 0;
  padding-top: 25px;
  width: 20em;
  border: #15f4ee 0.35em solid;
  border-radius: 1.5em;
  box-shadow:
  inset 0 0 2em 0 #15f4ee,
  0 0 3em 0 #15f4ee;
}

.sign-up-inner{
  white-space: nowrap;
  transition: transform 0.3s;
  display: flex;
  width: 20em;
  flex-direction: row;
}

.sign-up-page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.sign-up-image-preview{
  justify-self: center;
  height: 10em;
  width: 10em;
  border: dashed .12em #15f4ee;
}

.sign-up-back{
  background-color: #00000000;
  border: none;
  color: #15f4ee;
}

.sign-up-back:hover{
  text-decoration: underline;
}

.sign-up-image-page{
  min-width: 20em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.image-submit-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.image-submit-back{
  display: flex;
  flex-direction: column;
  font-size: .6em;
}

.image-submit-back button{
  align-self: flex-start;
}

.sign-up-image-upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5em;
  width: 100%;
}
.sign-up-image-upload p{
 margin: 0;
}

.sign-up-uploaded-image{
  width: 15em;
  height: 15em;
}

.sign-up-uploaded-image img{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: white solid .22em;
}

.sign-up-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.error{
  align-self: flex-end;
  margin: 0;
  font-size: .4em;
}
