.message-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  height: 100vh;
  scrollbar-width: thin;
}

.all-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden !important;
  height: 100%;
  width: 98%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: fit-content;
  width: 100%;
}

.inner-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  /* padding: 10px 50px 10px; */
  height: fit-content;
  width: 96%;
}

.message-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  margin-right: 15px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.message:hover {
  background-color: #80808033;
}

.fa-trash-can {
  opacity: 0;

  /* visibility: none; */
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.message:hover .fa-trash-can {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.fa-trash-can:hover {
  visibility: visible;
  cursor: pointer;
}

.message-input-form {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin-left: 20px;
  margin-right: 20px;
}

.message-input {
  background-color: #1d1b59;
  color: white;
  height: 38px;
  border-radius: 6px;
  border: none;
  width: 95%;
  padding-left: 15px;
}

.message-button {
  color: #3c308c;
  margin-left: 15px;
  background-color: #1d1b59;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 1.2em;
}

.message-button:hover {
  color: white;
}

.disabled-message:hover {
  /* color: white; */
  cursor: not-allowed;
}

.disabled-message {
  color: #3c308c;
  margin-left: 15px;
  background-color: #1d1b59;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 1.2em;
}

.disabled-plane {
  cursor: not-allowed;
}

.all-messages::-webkit-scrollbar-track {
  background-color: #3c308c;
}

.all-messages::-webkit-scrollbar-thumb {
  background-color: #1d1b59;
  border-radius: 10px;
}

.message-text {
  margin-left: 25px;
  height: 100%;
  z-index: -1;
}

.message-text p {
  margin: 0;
}

.username-message {
  font-size: 22px;
}

.author-message-image {
  align-self: flex-start;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  object-fit: cover;
  margin-left: 20px;
}

/* .message-body{
    height:22px;
} */
